<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>Bro -> Logstash Generator</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bro -> Logstash Generator</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <h1>Bro -> Logstash Generator</h1>
      </div>
      <div class="col-md-12">

<%
grokSyntax = ""
ls_Filter = ""
ls_Input = ""
fieldData = broFields.to_s.split("\n")
fieldData.each do |line|
  _, file_name, fields = /(?<file_name>.+)\:#fields\s(?<fields>.+)/.match(line).to_a
  _, logname = /(?<logname>.+)\.log/.match(file_name).to_a
  logname.upcase!
  grokdata = "BRO#{logname} "
  fields.split("\s").each do |fieldname|
    grokdata = "#{grokdata}%{DATA:#{fieldname.downcase}}\\t"
  end
  grokSyntax = "#{grokSyntax}#{grokdata.chomp('\t')}\n"

  ls_Input = "#{ls_Input}
input {
  file {
    path => [ \"/path/to/bro/current/#{file_name}\" ] # array (required)
    type => \"bro_#{logname.downcase}\" # string (optional)
  }
}
"
  ls_Filter = "#{ls_Filter}
filter{
  grok {
    type => \"bro_#{logname.downcase}\"
    patterns_dir => \"/opt/logstash/patterns\"
    break_on_match => false
    pattern => \"%{BRO#{logname}}\"
    add_tag => \"bro#{logname.downcase}\"
  }
}
"
end
%>
	<h3>Grok Patterns</h3>
	<pre>
<%= grokSyntax %>
	</pre>

	<h3>Logstash Input Syntax</h3>
	<p>Change the path to your Bro log files.</p>
	<pre>
<%= ls_Input %>
	</pre>
	<h3>Logstash Filter Syntax</h3>
	<p>Change the filter path to match your install.</p>
	<pre>
<%= ls_Filter %>
	</pre>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45045007-1', 'brostash.herokuapp.com');
  ga('send', 'pageview');

</script>
  </body>
</html>
